*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border;
}
.hero
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(28, 3, 41),rgb(57, 18, 18));
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span
{
    color:purple ;
}
textarea{
    width:600px ;
    height: 250px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;

}
textarea::placeholder{
    font-size: 16px;
    color:#ddd;

}
.row
{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;

}
button{
    background: rgb(65, 13, 64);
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;

}
select{
    flex: 1;
    color: #fff;
    background:rgb(65, 13, 64);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image:url(dropdown.png) ;
    background-repeat: no-repeat;
    background-size:15px ;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px ;
    




}

}
